.hero-nav{
    height: 25%;
    background-image: url(https://img.freepik.com/vetores-gratis/efeito-de-texto-editavel-dourado-estilo-de-texto-metalico-e-brilhante_314614-553.jpg?w=2000);
    background-size: cover;
    background-position: center;
}
.hero-nav__inne{
  width: 45px;
  position: fixed;
  margin-top: -50%;


}
